/Talleres/BIM2/Generacion/nbproject/private/
/Talleres/BIM2/Generacion/build/
/Talleres/BIM2/KruskalMST/nbproject/private/
/Talleres/BIM2/KruskalMST/build/
/Talleres/BIM2/Dijkstra/nbproject/private/
/Talleres/BIM2/Dijkstra/build/
